<!doctype html>
<html>
<head>
    <%= partial "site-head" %>
</head>
<body>
    <div class="feature">
        <%= partial "recent-episodes" %>
    </div>

    <div class="half">
        <div class="contents">
            <h1><%= partial "site-title" %></h1>
            
            <h2 class="mobile">About this podcast</h2>
            
            <p class="intro">This is a new experiment from Elyce Cole and Daniel Burka. We are working on a new podcast where we plan to interview people who work hard, meaningful projects.</p>

            <p>We will interview the people working on some of the hardest challenges in the world. Hard problems like health, education, good government, financial security, global warming, and inequality. These are the types of challenges that require years of concerted effort and coordination between many people. Most seem insurmountable and progress is sometimes hard to measure.</p>

            <p>What's special about the people who work on these problems? We're especially interested in talking to people who are in the trenches day-in-and-day-out making positive change happen. Not just people who write books or speak at conferences. We're also particularly curious about the teamwork that is necessary to create long-term sustainable change &#8212; often the story of change is about great individuals but we know that <em>real</em> change is the result of many people working together.</p>
            
            <img src="/images/daniel-elyce.jpg" alt="" style="width: 100%; margin: 1.5em 0 1.5em 0;">
            
            <p>This podcast is a work-in-progress. What does a "hard problem" mean and who should we interview? What are the important questions to ask our guests? How can we bring attention to the problems and people who matter most? Give us your feedback and help us make this into a special project.</p>
            
            <h2>Contact</h2>
            <p>Please contact us if you would like to get in touch:</p>
            
            <p><a href="mailto:contact@hardproblems.com">contact@hardproblems.com</a></p>
            
        </div>
    </div>
</body>
</html>
