<!doctype html>
<html>
<head>
  <!-- Google Analytics
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <!-- Use the title from a page's frontmatter if it has one -->
  <title>Hard Problems Podcast</title>
  <meta name="description" content="Elyce Cole and Daniel Burka interview people who are working on the world's hard and meaningful problems.">
  <meta name="author" content="Elyce Cole and Daniel Burka">

  <!-- Browser/Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Open Graph Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta property="og:url"                content="http://www.hardproblems.com" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="Hard Problems Podcast" />
  <meta property="og:description"        content="Elyce Cole and Daniel Burka interview people who are working on the world's hard and meaningful problems." />
  <meta property="og:image"              content="https://hardproblems.com/images/socialmedia.jpg" />

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <%= stylesheet_link_tag "site" %>

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <%= javascript_include_tag "site" %> -->

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
<body>
    <div class="feature">
        
    </div>

    <div class="half">
        <div class="contents">
            <h1>Hard Problems Podcast</h1>
            <b class="subtitle">Coming soon...</b>
            
            <p class="intro">This is a new experiment from Elyce Cole and Daniel Burka. We are working on a new podcast where we plan to interview people who work hard, meanginful projects.</p>

            <p>We will interview the people working on some of the hardest challenges in the world. Hard problems like health, education, good government, financial security, global warming, and inequality. These are the types of challenges that require years of concerted effort and coordination between many people. Most seem insurmountable and progress is sometimes hard to measure.</p>

            <p>What's special about the people who work on these problems? We're especially interested in talking to people who are in the trenches day-in-and-day-out making positive change happen. Not just people who write books or speak at conferences. We're also particularly curious about the teamwork that is necessary to create long-term sustainable change &#8212; often the story of change is about great individuals but we know that <em>real</em> change is the result of many people working together.</p>
            
            <h2>Contact</h2>
            <p>Please contact us if you would like to get in touch:</p>
            
            <p><a href="mailto:contact@hardproblems.com">contact@hardproblems.com</a></p>
            
            <!--footer><a href="mailto:contact@elycecole.com"><img src="/images/email.png"></a> <a href="https://www.linkedin.com/in/elyce-cole-1380903a/"><img src="/images/linkedin.png"></a></footer-->
        </div>
    </div>
</body>
</html>
