body {
	font-family: sans-serif;
	background: #fff;
	color: #333;
	font-size: 18px;
	line-height: 1.3;
	min-height: 100%;
	margin: 0;
	padding: 1.5rem;
	border-top: 12px solid #84D9A6
}

nav {
	font-size: 14px;
}

a, a:visited {
	color: #2F8B53;
	text-decoration: none;
}

a:hover, a:focus {
	color: #0D4F27;
}

blockquote {
	line-height: 1.3;
	font-size: 20px;
	margin: 1rem 0 3rem 0;
	font-weight: 300;
}

h1 {
	font-weight: 700;
	line-height: 1;
	font-size: 32px;
	letter-spacing: -0.06rem;
	display: block;
}

h1 a:link,
h1 a:visited {
	color: #333;
}

h2 {
	font-weight: 700;
	line-height: 1;
	font-size: 28px;
	letter-spacing: -0.06rem;
	display: block;
}

h3 {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 0.1rem;
}

nav a {
	margin: 0 10px 0 0;
}

p, li {
	font-weight: 300;
}

p em {
	background: lemonchiffon;
	padding: 0 2px;
}

.margin-top {
	margin-top: 4rem;
}

ul li {
	margin: 0 0 1rem 0;
}

ol li iframe {
	margin: 0.5em 0 0 0;
}

ol li {
	margin-bottom: 1.5em;
}

ol b {
	font-weight: 500;
}

.container section.left,
.container section.right {
	border-top: 1px solid #84D9A6;
	padding-top: 24px;
	margin-top: 42px;
}

@media only screen and (min-width: 1000px) {
	
	body {
		padding: 3rem;
		border-top: 20px solid #84D9A6;
		background: white;
	}
	
	.main {
		max-width: 1400px;
		margin: 0 auto;
	}
	
	nav {
		float: right;
		font-size: inherit;
	}
	
	h1 {
		font-size: 36px;
	}
	
	blockquote {
		font-size: 24px;
	}
	
	.container {
		display: flex;
		flex-wrap: wrap;
	}
	
	.container section {
		padding: 42px;
		box-sizing: border-box;
		position: relative;
	}
	
	.container section.right {
		width: 40%;
		padding-top: 40px;
		border-top: 1px solid #84D9A6;
		margin-top: 0;
	}
	
	.container section.left {
		width: 60%;
		padding-right: 100px;
		padding-top: 40px;
		border-right: 1px solid #84D9A6;
		margin-top: 0;
	}
	
	.container section.left:before {
		content: ".";
		background: #84D9A6;
		width: 1px;
		height: 50px;
		position: absolute;
		right: -1px;
		top: -20px;
		overflow: hidden;
		text-indent: -1000em;
	}
	
	h1 {
		margin: 42px;
	}
	
	h3.divider {
		margin-top: 4rem;
		border-top: 1px solid #84D9A6;
		padding: 40px 40px 0 60px;
		padding-top: 40px;
		margin-left: -60px;
		margin-right: -40px;
	}

}