body {
  font-family: "SF Pro", "San Francisco", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  background: #fff;
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  min-height: 100%;
  margin: 0;
  padding: 1.5rem;
  border-top: 12px solid #84D9A6
}

nav {
  font-size: 14px;
}

a, a:visited {
  color: cornflowerblue;
  text-decoration: none;
}

a:hover, a:focus {
  color: darkblue;
}

blockquote {
  line-height: 1.3;
  font-size: 20px;
  margin: 1rem 0 3rem 0;
  font-weight: 400;
}

h1 {
  font-weight: 700;
  line-height: 1;
  font-size: 32px;
  letter-spacing: -0.06rem;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
}

h1 a:link,
h1 a:visited {
  color: #333;
}

h2 {
  font-weight: 700;
  line-height: 1;
  font-size: 28px;
  letter-spacing: -0.06rem;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1rem;
}

h4 {
  margin: 0.2em 0;
}

nav a, nav a:visited {
  margin: 0 10px 0 0;
  color: #2F8B53;
}

nav a:hover {
  color: #0D4F27;
}

p, li, dd {
  font-weight: 300;
  line-height: 1.4;
}

p em {
  background: lemonchiffon;
  font-weight: 400;
  padding: 0 2px;
}

p a, li a, dd a {
  font-weight: 400;
}

dl dd {
  margin: 0.2em 0 1em;
}

.none {
  background: #eee;
  padding: 200px 0;
  text-align: center;
  color: grey;
}

.margin-top {
  margin-top: 4rem;
}

ul li {
  margin: 0 0 1rem 0;
}

iframe.newsletter-form {
  margin: 0.5em 0 0 0;
  width: 100%;
}

ol {
   list-style: none;
   counter-reset: item;
}

ol li {
   counter-increment: item;
   margin: 1.5em 0;
   position: relative;
   padding-left: 8px;
}

ol li:before {
   margin-right: 10px;
   content: counter(item);
   background: #CBEAD8;
   font-weight: bold;
   border-radius: 100%;
   color: white;
   width: 32px;
   height: 28px;
   padding-top: 4px;
   text-align: center;
   display: inline-block;
   position: absolute;
   left: -2.5rem;;
}

ol b {
  font-weight: 500;
}

.container section.left,
.container section.right {
  border-top: 1px solid #84D9A6;
  padding-top: 24px;
  margin-top: 42px;
}

.illustration-home {
  text-align: center;
}

.illustration-home img {
  width: 250px;
  height: auto;
}

.event {
  position: relative;
  padding: 3rem 0 3rem 0;
}

.event img {
  width: 80%;
  height: auto;
  margin: 0 0 20px 20px;
}

.event p {
  margin-top: 0.3em;
}

.event dt {
  position: absolute;
  left: 0;
}

.event dd {
  padding-left: 5em;
}

.other-event {
  margin: 2em 0;
}

.other-event-title {
  font-weight: 700;
  margin: 0 0 0.2em 0;
}

.other-event-date {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 0.4em 0 0 0;
}

@media only screen and (min-width: 1000px) {

  body {
    padding: 3rem;
    border-top: 20px solid #84D9A6;
    background: white;
  }

  .main {
    max-width: 1400px;
    margin: 0 auto;
  }

  nav {
    float: right;
    font-size: inherit;
  }

  h1 {
    font-size: 36px;
  }

  blockquote {
    font-size: 24px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .container section {
    padding: 42px;
    box-sizing: border-box;
    position: relative;
  }

  .container section.right {
    width: 40%;
    padding-top: 40px;
    border-top: 1px solid #84D9A6;
    margin-top: 0;
  }

  .container section.left {
    width: 60%;
    padding-right: 100px;
    padding-top: 40px;
    border-right: 1px solid #84D9A6;
    margin-top: 0;
  }

  .container section.left:before {
    content: ".";
    background: #84D9A6;
    width: 1px;
    height: 50px;
    position: absolute;
    right: -1px;
    top: -20px;
    overflow: hidden;
    text-indent: -1000em;
  }

  h1 {
    margin: 42px;
  }

  h3.divider {
    margin-top: 4rem;
    border-top: 1px solid #84D9A6;
    padding: 40px 40px 0 60px;
    padding-top: 40px;
    margin-left: -60px;
    margin-right: -40px;
  }

  .illustration-home {
    width: 50%;
    margin: 2rem -60px 2rem 0.5rem;
    float: right;
  }

  .illustration-home img {
    width: 100%;
  }

  .event img {
    float: right;
    width: 240px;
  }

}
