.newsletter {
    padding: 2rem 0;
}

.newsletterImage {
    display: inline-block;
    width: 100%;
    height: auto;
}

.newsletterSkeleton .newsletterImage {
    min-height: 236px;
}

.newsletterContent {
    display: block;
    min-height: 2rem;
}

.newsletter small {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.newsletter p {
  margin: 0.2rem 0;
}
