.newsletter {
    padding-top: 2rem;
}

.newsletterImage {
    display: inline-block;
    min-width: 512px;
    min-height: 236px;
    width: 100%;
    height: auto;
}

.newsletterContent {
    display: block;
    min-height: 2rem;
}