  <!-- Google Analytics
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136018933-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-136018933-1');
  </script>


  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <!-- Use the title from a page's frontmatter if it has one -->
  <title>Hard Problems Podcast - <%= ' - ' + current_article.title unless current_article.nil? %></title>
  <meta name="description" content="Elyce Cole and Daniel Burka interview people who are working on the world's hard and meaningful problems.">
  <meta name="author" content="Elyce Cole and Daniel Burka">

  <!-- Browser/Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Open Graph Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta property="og:url"                content="http://www.hardproblems.com" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="Hard Problems Podcast" />
  <meta property="og:description"        content="Elyce Cole and Daniel Burka interview people who are working on the world's hard and meaningful problems." />
  <meta property="og:image"              content="https://hardproblems.com/images/socialmedia.jpg" />

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <%= stylesheet_link_tag "site" %>

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
  
  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <%= javascript_include_tag "site" %> -->
    
  <!-- RSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="alternate" type="application/rss+xml" title="Hard Problems Podcast" href="https://feeds.simplecast.com/4jJ9kuOJ" />

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">